<h3>
    <a href="/product">
        <i class="fa fa-plus"></i>
        Create new
    </a>
    Product List
</h3>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category ID</th>
            <th>Category Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{#each list}}
        <tr>
            <td>{{this.productid}}</td>
            <td>{{this.productname}}</td>
            <td>{{this.categoryid}}</td>
            <td>{{this.categoryname}}</td>
            <td>
                <a href="/product/{{this._id}}"><i class="fas fa-pen"></i></a>
                <a href="/product/delete/{{this._id}}" onclick="return confirm(' Do you want to delete')"><i
                        class="fa fa-trash"></i></a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>